---
import RacefinderLayout from "../../layouts/RacefinderLayout.astro";
import RaceForm from "../../components/racefinder/RaceForm.astro";
---

<RacefinderLayout title="Racefinder | Find Your Perfect Race">
    <main>
        <RaceForm />
    </main>
</RacefinderLayout>
